aiogram==2.25         # For Telegram bot functionality
aiohttp==3.8.6        # Required for async HTTP requests, used by aiogram
aiosignal==1.3.1      # Dependency for aiohttp
async-timeout==4.0.3  # Dependency for aiohttp
certifi==2024.7.4     # SSL certificates for secure requests
idna==3.7             # Dependency for HTTP handling
magic-filter==1.0.12  # For filtering commands, used by aiogram
pillow==10.4.0        # For image handling, potentially required by moviepy
moviepy==1.0.3        # For video processing
yt-dlp==2024.10.22    # For downloading videos from YouTube and other platforms
requests==2.32.3      # For making HTTP requests
